* {
  font-family: 'Roboto', Arial, sans-serif;
}

:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: .5rem;
  --size-radius: 4px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body::before {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(78, 78, 78, 0.73))), url("../images/body-background.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(78, 78, 78, 0.73)), url("../images/body-background.jpg");
  background-size: cover;
}

fieldset {
  display: inline-block;
}

.input {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 15px;
}

.input-label {
  position: absolute;
  left: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 1px) calc(var(--size-bezel) * .5);
  background: pink;
  white-space: nowrap;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: #e0e0e0;
  -webkit-transition: -webkit-transform 120ms ease-in;
  transition: -webkit-transform 120ms ease-in;
  transition: transform 120ms ease-in;
  transition: transform 120ms ease-in, -webkit-transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}

.input-field {
  display: inline-block;
  width: 15rem;
  border: 2px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}

.input-field:focus + .input-label, .input-field:not(:placeholder-shown) + .input-label {
  -webkit-transform: translate(0.25rem, -55%) scale(0.8);
          transform: translate(0.25rem, -55%) scale(0.8);
  color: #ffae00;
}

#main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

#login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  height: 80vh;
  background-color: #e0e0e0;
  border-radius: 1rem;
  -webkit-box-shadow: 6px 5px 5px #6d6d6d49;
          box-shadow: 6px 5px 5px #6d6d6d49;
}

#hero {
  -webkit-box-flex: 1.071;
      -ms-flex: 1.071;
          flex: 1.071;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(78, 78, 78, 0.747))), url("../images/cactus.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(78, 78, 78, 0.747)), url("../images/cactus.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1rem 0 0 1rem;
}

h1 {
  margin: 0;
}

.required-label {
  color: #ffae00;
}

#hero-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30%;
  height: 20%;
  width: 100%;
  background-color: #6161616e;
}

#hero-banner > p {
  font-size: 3rem;
  color: #e7e7e7;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#description {
  margin: 20px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#description > p {
  color: #4c485a;
  margin-top: 10px;
}

p {
  margin: 0;
}

form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 60%;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem 0 0 1rem;
}

main {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

p {
  font-size: 1.5rem;
}

footer {
  margin-top: 0;
  text-align: center;
  color: #ffffff;
  padding: 0 0 10px 0;
}

input {
  border-radius: 10px;
  border-width: 1px;
}

#submit-field {
  margin: 5% 0 0 0;
}

/* CSS */
.submit-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  border-radius: 5px;
}

.submit-btn:focus {
  color: #171e29;
}

.submit-btn:hover {
  border-color: #ffae00;
  color: #ffae00;
  fill: #ffae00;
}

.submit-btn:active {
  border-color: #4ed43c;
  color: #4ed43c;
  fill: #4ed43c;
}

@media (min-width: 768px) {
  .submit-btn {
    min-width: 170px;
  }
}

p#required-text {
  text-decoration: underline;
  color: #ffae00;
}
/*# sourceMappingURL=index.css.map */